body {
    background-color: #3A4D5B;
    color: #728692;
}
section{
    height: 97vh;
    position: relative;
}
section > table {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
tr th {
    text-align: center;
    color: yellow;
}
tr>td:nth-child(2) {
    display: -webkit-inline-box;
    text-align: center;
}
td > div {
    width: 2rem;
    height: 2rem;
    border: 3px solid #4380DD;
    border-radius: 5px;
    background-color: #3A4D5B;
    margin-left: 3px;
    color: white;
}


/* the value */
.primo>div:first-child {
    background-color: #4380DD;
}
.secundo>div:last-child {
    background-color: #4380DD;
}
.tertio>div:nth-child(2) {
    background-color: #4380DD;
}
.quarto>div:nth-last-child(2) {
    background-color: #4380DD;
}
.quinto>div:nth-child(odd) {
    background-color: #4380DD;
}
.sexto>div:nth-child(even) {
    background-color: #4380DD;
}
.septimo>div:nth-child(n+4) {
    background-color: #4380DD;
}
.octavo>div:nth-child(3n-1) {
    background-color: #4380DD;
}
.nono>div:nth-child(3n+1) {
    background-color: #4380DD;
}
.decimo>div:nth-child(4n) {
    background-color: #4380DD;
}




/* just numbers */
td > div::after {
    display: block;
    padding-top: 5px;
    padding-left 5px;
}
td > div:nth-child(1)::after {
    content: '1';
}
td > div:nth-child(2)::after {
    content: '2';
}
td > div:nth-child(3)::after {
    content: '3';
}
td > div:nth-child(4)::after {
    content: '4';
}
td > div:nth-child(5)::after {
    content: '5';
}
td > div:nth-child(6)::after {
    content: '6';
}
td > div:nth-child(7)::after {
    content: '7';
}
td > div:nth-child(8)::after {
    content: '8';
}
td > div:nth-child(9)::after {
    content: '9';
}
td > div:nth-child(10)::after {
    content: '10';
}