:root{
    --aspect-color: seashell;
}


/* resets block start */
*, *::before, *::after {
box-sizing: border-box;
}

* {
margin: 0;
padding: 0;
font: inherit;
}

html {
color-scheme: dark light;
}

body {
min-height: 100vh;
}

img, picture, svg, video {
display: block;
max-width: 100%;
}
/* resets block end */
body {
    background: linear-gradient(
        to bottom right,
        #333333, #121212);
    color: #728692;
    min-height: 100dvh;
    overflow: hidden;
}
section {
    min-height: 90dvh;
    overflow-y: auto;
}

/* scrollbar description */
/* width */
section::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  section::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px transparent; 
    border-radius: 3px;
  }
  /* Handle */
  section::-webkit-scrollbar-thumb {
    background: linear-gradient(
        to top left,
        #333333, #121212);
    border-radius: 5px;
  }
  /* Handle on hover */
  section::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
        to bottom right,
        #333333, #121212);
    border: 1px solid var(--aspect-color, seashell);
  }


.tablewrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    text-align: center;
}
caption {
    color: var(--aspect-color, seashell);
    background-color: hsl(0 0% 0%);
    font-weight: 900;
}
table, tbody{
    border-collapse: collapse;
}
tr > th {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: var(--aspect-color, seashell);
    background-color: hsl(0 0% 0% / .5);
}
td {
    border-width: 1px;
}
:nth-child(2n+1 of tr){
    background-color: hsl(0 0% 0% / .25);
}
tr>td:nth-child(2) {
    display: -webkit-inline-box;
    text-align: center;
}
tr>td:nth-child(2) > div {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 3px solid #4380DD;
    border-radius: 5px;
    margin-left: 3px;
    color: var(--aspect-color, seashell);
}
tr td, tr th{
    cursor: cell;
    padding: .2rem;
}
td.selector {
    cursor: copy;
    border-radius: 5px;
}

/* tooltip text */
.tooltiptext {
    margin-top: 1.15rem;
    width: 170px;
    background-color: peachpuff;
    color: #0f0f0f;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position:fixed;
    z-index: 1;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

 /* just numbers */
td >  div::after {
    display: block;
    padding-top: 5px;
    padding-left: 1px;
}
tr>td:nth-child(2) > div:nth-child(1)::after {content: '1';}
tr>td:nth-child(2)> div:nth-child(2)::after {content: '2';}
tr>td:nth-child(2)> div:nth-child(3)::after {content: '3';}
tr>td:nth-child(2)> div:nth-child(4)::after {content: '4';}
tr>td:nth-child(2) > div:nth-child(5)::after {content: '5';}
tr>td:nth-child(2) > div:nth-child(6)::after {content: '6';}
tr>td:nth-child(2) > div:nth-child(7)::after {content: '7';}
tr>td:nth-child(2) > div:nth-child(8)::after {content: '8';}
tr>td:nth-child(2)> div:nth-child(9)::after {content: '9';}
tr>td:nth-child(2)> div:nth-child(10)::after {content: '10';}

@media (max-width: 615px){
    body {
        overflow-y: visible;
    }
    th {
        display: none;
    }
    td {
        display: block;
    }
    tr>td:nth-child(2){
        display: inline-block;
        /* min-width: 100%; */
    }
    tr>td:nth-of-type(1)::before {
        content: "Selector:\00000a ";
        white-space: pre;
        font-weight: 600;
        text-transform: uppercase;
    }
    tr>td:nth-of-type(2)::before {
        content: "Its effect:\00000a ";
        white-space: pre;
        font-weight: 600;
        text-transform: uppercase;
    }
    tr:hover td  {
        background-color: hsl(0 0% 0% / .5);
        border-left: 1px solid var(--aspect-color, seashell);
        border-right: 1px solid var(--aspect-color, seashell);
    }
    tr:hover > td:first-child  {
        border-top: 1px solid var(--aspect-color, seashell);
    }
    tr:hover > td:last-child  {
        border-bottom: 1px solid var(--aspect-color, seashell);
    }
}
@media (min-width: 616px){
    tr:hover td  {
        background-color: hsl(0 0% 0% / .5);
        border-top: 1px solid var(--aspect-color, seashell);
        border-bottom: 1px solid var(--aspect-color, seashell);
    }
    tr:hover > td:first-child  {
        border-left: 1px solid var(--aspect-color, seashell);
    }
    tr:hover > td:last-child  {
        border-right: 1px solid var(--aspect-color, seashell);
    }
}